.env
.env.*
!.env.example
.git
.gitignore
__pycache__
node_modules
.angular
dist
.pytest_cache
htmlcov
.coverage
*.log
logs
*.db
*.idea
.vscode
*.swp
*.swo
.DS_Store
docker-compose*.yml
*.md
!README.md
LICENSE
