APP_ENV=development
APP_PORT=8000
LOG_LEVEL=INFO
SOAP_TIMEOUT=30
SOAP_OPERATION_TIMEOUT=600
DPD_WSDL_PATH=https://dpdservices.dpd.com.pl/DPDPackageObjServicesService/DPDPackageObjServices?WSDL
DPD_INFO_WSDL_PATH=https://dpdservices.dpd.com.pl/DPDInfoServicesObjEventsService/DPDInfoServicesObjEvents?WSDL
