APP_ENV=development
APP_PORT=8000
LOG_LEVEL=INFO
DEFAULT_CURRENCY=EUR
REST_TIMEOUT=30
INPOST_INT_2025_API_URL=https://api.inpost-group.com
INPOST_INT_2025_SANDBOX_API_URL=https://stage-api.inpost-group.com
