APP_ENV=development
APP_PORT=8000
LOG_LEVEL=INFO
DEFAULT_CURRENCY=PLN
REST_TIMEOUT=30
INPOST_PROD_API_URL=https://api-shipx-pl.easypack24.net/
INPOST_SANDBOX_API_URL=https://sandbox-api-shipx-pl.easypack24.net/
INPOST_WAYBILL_RETRY_COUNT=10
INPOST_WAYBILL_RETRY_WAIT=1
