APP_ENV=development
APP_PORT=8000
LOG_LEVEL=INFO
SOAP_TIMEOUT=30
SOAP_OPERATION_TIMEOUT=600
DHL_PROD_WSDL=wsdl/dhl_42.wsdl
DHL_SANDBOX_WSDL=wsdl/sandbox_dhl_42.wsdl
DHL_PROD_PARCELSHOP_URL=https://dhl24.com.pl/servicepoint
DHL_SANDBOX_PARCELSHOP_URL=https://sandbox.dhl24.com.pl/servicepoint
