{
  "openapi": "3.0.0",
  "info": {
    "title": "KurierSystem REST API",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://fxcouriers.kuriersystem.pl/api/rest"
    }
  ],
  "paths": {
    "/health-check": {
      "get": {
        "tags": ["basic"],
        "responses": {
          "200": { "description": "OK" }
        }
      }
    },
    "/services": {
      "get": {
        "tags": ["basic"],
        "responses": { "200": { "description": "OK" } },
        "security": [{ "bearer_auth": [] }]
      }
    },
    "/company/{company_id}": {
      "get": {
        "tags": ["company"],
        "parameters": [
          { "name": "company_id", "in": "path", "required": true, "schema": { "type": "integer", "format": "int32" } }
        ],
        "responses": { "200": { "description": "OK" } },
        "security": [{ "bearer_auth": [] }]
      },
      "put": {
        "tags": ["company"],
        "parameters": [
          { "name": "company_id", "in": "path", "required": true, "schema": { "type": "integer", "format": "int32" } }
        ],
        "requestBody": {
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Company" } } }
        },
        "responses": { "200": { "description": "OK" } },
        "security": [{ "bearer_auth": [] }]
      }
    },
    "/label/{order_id}": {
      "get": {
        "tags": ["label"],
        "parameters": [
          { "name": "order_id", "in": "path", "required": true, "schema": { "type": "integer", "format": "int32" } }
        ],
        "responses": { "200": { "description": "OK" } },
        "security": [{ "bearer_auth": [] }]
      }
    },
    "/order": {
      "post": {
        "tags": ["order"],
        "requestBody": {
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Order" } } }
        },
        "responses": { "200": { "description": "OK" } },
        "security": [{ "bearer_auth": [] }]
      }
    },
    "/orders": {
      "get": {
        "tags": ["order"],
        "parameters": [
          { "name": "since", "in": "query", "required": false, "schema": { "type": "string", "format": "YYYY-MM-DD" } },
          { "name": "company_id", "in": "query", "required": false, "schema": { "type": "integer", "format": "int32" } },
          { "name": "offset", "in": "query", "required": false, "schema": { "type": "integer", "format": "int32" } }
        ],
        "responses": { "200": { "description": "OK" } },
        "security": [{ "bearer_auth": [] }]
      }
    },
    "/order/{order_id}": {
      "get": {
        "tags": ["order"],
        "parameters": [
          { "name": "order_id", "in": "path", "required": true, "schema": { "type": "integer", "format": "int32" } }
        ],
        "responses": { "200": { "description": "OK" } },
        "security": [{ "bearer_auth": [] }]
      },
      "delete": {
        "tags": ["order"],
        "parameters": [
          { "name": "order_id", "in": "path", "required": true, "schema": { "type": "integer", "format": "int32" } }
        ],
        "responses": { "200": { "description": "OK" } },
        "security": [{ "bearer_auth": [] }]
      }
    },
    "/order-tracking/{order_id}": {
      "get": {
        "tags": ["order"],
        "parameters": [
          { "name": "order_id", "in": "path", "required": true, "schema": { "type": "integer", "format": "int32" } }
        ],
        "responses": { "200": { "description": "OK" } },
        "security": [{ "bearer_auth": [] }]
      }
    },
    "/shipments": {
      "post": {
        "tags": ["shipment"],
        "requestBody": {
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Shipment" } } }
        },
        "responses": { "200": { "description": "OK" } },
        "security": [{ "bearer_auth": [] }]
      }
    },
    "/shipment/{order_id}": {
      "get": {
        "tags": ["shipment"],
        "parameters": [
          { "name": "order_id", "in": "path", "required": true, "schema": { "type": "integer", "format": "int32" } }
        ],
        "responses": { "200": { "description": "OK" } },
        "security": [{ "bearer_auth": [] }]
      },
      "delete": {
        "tags": ["shipment"],
        "parameters": [
          { "name": "order_id", "in": "path", "required": true, "schema": { "type": "integer", "format": "int32" } }
        ],
        "responses": { "200": { "description": "OK" } },
        "security": [{ "bearer_auth": [] }]
      }
    }
  },
  "components": {
    "schemas": {
      "Address": {
        "type": "object",
        "properties": {
          "name": { "type": "string" },
          "country": { "type": "string" },
          "city": { "type": "string" },
          "postal_code": { "type": "string" },
          "street": { "type": "string" },
          "house_number": { "type": "integer", "format": "int32" },
          "apartment_number": { "type": "integer", "format": "int32" },
          "contact_person": { "type": "string" },
          "contact_phone": { "type": "string" },
          "contact_email": { "type": "string" },
          "services": { "type": "array", "items": { "$ref": "#/components/schemas/Service" } }
        }
      },
      "Company": {
        "type": "object",
        "properties": {
          "company_id": { "type": "integer", "format": "int32" },
          "name": { "type": "string" },
          "short_name": { "type": "string" },
          "description": { "type": "string" },
          "taxno": { "type": "string" },
          "taxno_additional": { "type": "string" },
          "currency": { "type": "string" },
          "www": { "type": "string" },
          "is_active": { "type": "boolean" },
          "address": { "$ref": "#/components/schemas/Address" }
        }
      },
      "Item": {
        "type": "object",
        "properties": {
          "content": { "type": "string" },
          "package_type": { "type": "string" },
          "quantity": { "type": "integer", "format": "int32" },
          "weight": { "type": "integer", "format": "int32" },
          "width": { "type": "integer", "format": "int32" },
          "height": { "type": "integer", "format": "int32" },
          "length": { "type": "integer", "format": "int32" },
          "comment": { "type": "string" },
          "services": { "type": "array", "items": { "$ref": "#/components/schemas/Service" } }
        }
      },
      "Order": {
        "type": "object",
        "properties": {
          "order_id": { "type": "integer", "format": "int32" },
          "company_id": { "type": "integer", "format": "int32" },
          "order_number": { "type": "string" },
          "service_code": { "type": "string" },
          "tracking_number": { "type": "string" },
          "created": { "type": "string", "format": "date-time" },
          "sent": { "type": "string", "format": "date-time" },
          "received": { "type": "string", "format": "date-time" },
          "status": { "type": "string", "enum": ["NEW", "WAITING_APPROVAL", "ACCEPTED", "RUNNING", "PICKUP", "CLOSED", "RETURN", "PROBLEM", "FAILED", "CANCELLED"] },
          "payment_method": { "type": "string", "enum": ["CASH", "TRANSFER"] },
          "comment": { "type": "string" },
          "tracking_url_external": { "type": "string" },
          "tracking_url_internal": { "type": "string" },
          "sender": { "$ref": "#/components/schemas/Address" },
          "recipient": { "$ref": "#/components/schemas/Address" },
          "total_price": { "type": "integer", "format": "int32" },
          "gross_price": { "type": "integer", "format": "int32" },
          "items": { "type": "array", "items": { "$ref": "#/components/schemas/Item" } },
          "services": { "type": "array", "items": { "$ref": "#/components/schemas/Service" } }
        }
      },
      "Service": {
        "type": "object",
        "properties": {
          "code": { "type": "string" },
          "value": { "type": "string" },
          "quantity": { "type": "integer", "format": "int32" }
        }
      },
      "Shipment": {
        "type": "object",
        "properties": {
          "pickup_date": { "type": "string" },
          "pickup_time_from": { "type": "string" },
          "pickup_time_to": { "type": "string" },
          "order_id_list": { "type": "array", "format": "int32", "items": { "type": "integer" } }
        }
      }
    },
    "securitySchemes": {
      "bearer_auth": {
        "type": "http",
        "bearerFormat": "JWT",
        "scheme": "bearer"
      }
    }
  }
}
