APP_ENV=development
APP_PORT=8000
LOG_LEVEL=INFO
SOAP_TIMEOUT=30
SOAP_OPERATION_TIMEOUT=600
POCZTA_POLSKA_TRACKING_WSDL=https://tt.poczta-polska.pl/Sledzenie/services/Sledzenie?wsdl
POCZTA_POLSKA_POSTING_WSDL=https://e-nadawca.poczta-polska.pl/websrv/en.php?wsdl
USE_POCZTAPOLSKA_GUID=true
